@{
  Layout = "_Layout";
}
@model DoctorsOffice.Models.Specialty

<h4>Add a new specialty</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.SpecialtyName)
  @Html.TextBoxFor(model => model.SpecialtyName)

  <input type="submit" value="Add new specialty" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all specialties", "Index")</p>